*{
    padding: 0px;
    margin: 0px;
}
.main{
    background: url(burg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 700px;
    height: 100vh;
    
}
body{
    height: 4780px;
    background: rgb(233, 229, 229);
}
.swigo{
   margin-left: 90px;
   margin-top: 30px;
}
.pammy{
    margin-left: 55px;
    background-color: whitesmoke;
    border: none;
    color: rgb(90, 81, 81);   
    font-family: arial;
    font-size: 15px;
}
.cont{
    color: rgb(90, 81, 81);
    text-decoration: none;
    padding-left: 8px;
    float: right;
    margin-top: -18px;
}
.cont:hover{
    color: tomato;
    transition: 0.5s;
}
.content{
   margin-top: 70px;
   margin-left: 90px;

}
.numeric{
    font-size: 65px;
    font-style: italic;
    color: rgb(40, 36, 36);
}
span{
    color: rgb(217, 36, 36);
}
.stuff{
    font-size: 20px;
    color: rgb(90, 81, 81);
    padding-top: 15px;
}
.delish{
    float: right;
    width: 570px;
    margin-top: 90px;
    position: relative;
}
.delish{
    animation: upDown 2.0s infinite ease-in-out;
}
@keyframes upDown {
    0% {
      transform: translateY(0);  
    }
    50% {
      transform: translateY(-10px);  
    }
    100% {
      transform: translateY(0); 
    }
  }
.blame{
    padding-top: 50px;
    padding-left: 90px;
}
.bookata{
    border: none;
    background-color: rgb(222, 54, 54);
    height: 55px;
    width: 150px;
    border-radius: 4px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
    
}
.viewmore{
    border-width: 1px;
    border-color: rgb(225, 48, 48);
    height: 55px;
    width: 150px;
    border-radius: 4px;
    text-align: center;
   
    font-size: 15px;
    background-color: rgb(255, 255, 255);
}
.link{
    text-decoration: none;
    font-family: arial;
    color: white;
}
.linking{
    text-decoration: none;
    color: rgb(222, 54, 54);
    position: relative;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}
.bookata:hover{
    background-color: rgb(221, 200, 200);
    transition: 0.5s;
    border-width: 2px;
    color: red;
}
.link:hover{
    color: red;
    
}
.pictures{
    padding-top: 5px;
    padding-left: 47px;

}
.soda{
    width: 110px;
  
}
.burger{
    width: 90px;
}
.pizza{
    width: 110px;
}
.slice{
    width: 90px;
}
.deliver{
    width: 90px;
}
.burner{
    width: 300px;
}
.anada{
    float: right;
}
.middle{
    margin-top: 90px;
}
ul{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{ 
    list-style: none;
    margin-top: 7px;
    font-size: 14px;

}

.redeem{
    margin-left: 150px;
    margin-top: -40px;
    
}
.special{
    margin-left: 110px;
    margin-top: 150px;
    border-radius: 15px;
   background-color: rgb(26, 95, 81);

}
.nodels{
    margin-right: 100px;
}
.limited{
    background-color: green;
    border-radius: 10px;
    margin-top: 30px;
}
.indomie{
    background: linear-gradient(to top,rgb(201, 39, 39) 100% ,rgb(201, 39, 39) 50%), url(pt1-Q9D3IAcI.jpg);
    border-radius: 10px;
}
.burner{
    background: linear-gradient(to top,rgba(0, 0, 0, 0.5) 100% ,rgba(0,0,0,0.5) 50%), url(pt1-Q9D3IAcI.jpg);
    margin-left: 35px;
    padding-right: 20px;
    border-radius: 10px;
}

article{
    margin-top: 150px;
    
}

.foode{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-family: brush script 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.pitza{
    height: 140px;
    border-radius: 50%;
}
.pitza:hover{
    animation: rotateImage 5s infinite linear;
}

.rice{
    height: 140px;
    border-radius: 50%;
}
.rice:hover{
    animation: rotateImage 5s infinite linear;
}
.salad{
    height: 140px;
    border-radius: 50%;
}
.salad:hover{
    animation: rotateImage 5s infinite linear;
}
.candy{
    height: 140px;
    border-radius: 50%;
}
.candy:hover{
    animation: rotateImage 5s infinite linear;

}
@keyframes rotateImage {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.blustuffy{
    text-align: center;
    padding-top: 10px;
    color: rgb(129, 128, 128);
}
.dolor{
    text-align: center;
    font-family: arial;

}
.amet{
    text-align: center;
    padding-top: 20px;
    font-family: arial;
}
.fifty{
    font-weight: bold;
    font-family: arial;
    font-size: 24px;
    
}

.dfaro{
   width: calc(100%-20px);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
    gap:20px;
}
.burger-small{
    width: 30%;
    height: 100%;
    position: relative;
}
.burger-small img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
   
}
.nobur{
    width: 70%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
}
.eighty,.sixty{
    width: 100%;
    height: 50%;
}

.sixty{
    gap: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    
}
.row-img img, .eighty img{
width:100%;
height: 100%;
object-fit: cover;
object-position: center;
}

.row-img:first-child img{
    object-fit: contain;
    position: absolute;
    top:-50px;
    left: -30%;
    max-height: 250px;
    height: 1000px;
}

.row-img:last-child img{
    border-radius: 20px;

}
.row-img{
    background-color:#ff0066;
    width: 45%;
    position: relative;
    border-radius: 20px;
}

.side-content, .side-content-cover{
    position: absolute;
    left: 40%;
    width: 55%;
    margin: 20px;
    top: 0;
}

.side-content h4,.side-content h1{
    color: #fff;
    margin: 10px;
}
.side-content h1{
    font-size: 3em;
}

.side-content strong{
    display: block;
    margin: 10px;
    font-size: 1.3em;
    color: #f9fe10;
    font-weight: 900;
}

.side-content button, .side-content-cover button{
    padding: 10px;
    margin: 10px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 60%;
    border: 1px solid #ddd;
    outline:1px solid #f9fe10;
    border-radius: 5px;

}
.eighty{
    height: 50%;
    position: relative;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}

.eighty img{
    position: absolute;
    object-fit: contain;
    width: 250px;
    height:220px;
    left: -10%;
    top: -14%;
}
.eighty{
    background-color: #138919;
    height: 350px;
}
.eighty .cover{
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}


.side-content-cover{
display: flex;
justify-content: space-between;
margin: 20px;
margin-top: 50px;
}

.side-content-cover div{
    width: 30%;
}

.side-content-cover button{
    width: 80%;
}
.side-content-cover div:first-child{
    width: 70%;
}


.side-content-cover h4,.side-content-cover h1{
    color: #fff;
    font-size: 19px;
}
.side-content-cover h1{
    font-size: 42px;
    font-weight: bolder;
}
.tasty-burger{
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.burger-small{
    background-color: rgb(26, 95, 81);
    border-radius: 10px;
    height: 430px;
    margin-left: 25px;
    
}
.burger-small img{
     position: absolute;
    object-fit: contain;
    left: -14%;
    top: 12.2%;
    width: 430px;
   
}

.upper-content h5{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.upper-content h4{
    font-size: 40px;
    padding-left: 29px;
    padding-top: 10px;
    font-weight: bold;
    font-family: arial;
}
.all-img{
    display: flex;
    gap: 100px;
    margin-left: 160px;
    margin-right: 20px;
    margin-top: 40px;
}
.pizza-img{
    height: 350px;
    width: 200px;
}
.rice-img{
    height: 350px;
    width: 200px;
}
.salad-img{
    height: 350px;
    width: 200px;
}
.candy-img{
    height: 350px;
    width: 200px;
}
.first-img{
     border: 1px solid rgb(190, 38, 38);
}
.second-img{
    border: 1px solid rgb(190, 38, 38);
}
.third-img{
    border: 1px solid rgb(190, 38, 38);
}
.forth-img{
    border: 1px solid rgb(190, 38, 38);
}
.pitza{
    margin-left: 30px;
}
.rice{
    margin-left: 30px;

}
.salad{
    margin-left: 30px;

}
.candy{
    margin-left: 30px;

}

.wrap-all{
    text-align: center;
    margin-top: 10px;
}
.pizza-btn{
    text-align: center;
   
    
}
.rice-btn{
    text-align: center;
    
}
.salad-btn{
    text-align: center;
}
.pasta-btn{
    text-align: center;
}
.pizza-btn input{
    font-weight: bold;
    color: #fff;
    font-family: arial;
    background-color: rgb(221, 25, 25);
    border: none;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    margin-top: 20px;
}
.rice-btn input{
    font-weight: bold;
    color: #fff;
    font-family: arial;
    background-color: rgb(221, 25, 25);
    border: none;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    margin-top: 20px;
}
.salad-btn input{
    font-weight: bold;
    color: #fff;
    font-family: arial;
    background-color: rgb(221, 25, 25);
    border: none;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    margin-top: 20px;
}
.pasta-btn input{
    font-weight: bold;
    color: #fff;
    font-family: arial;
    background-color: rgb(221, 25, 25);
    border: none;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    margin-top: 20px;
}
.first-img h4{
    font-family: arial;
    font-size: 24px;
    margin-bottom: 10px;
}
.second-img h4{
    font-family: arial;
    font-size: 24px;
    margin-bottom: 10px;
}
.third-img h4{
    font-family: arial;
    font-size: 20px;
    margin-bottom: 10px;
}
.forth-img h4{
    font-family: arial;
    font-size: 24px;
    margin-bottom: 10px;
}
.first-img p{
    color: #aaa;
    margin-bottom: 10px;
}
.second-img p{
    color: #aaa;
    margin-bottom: 10px;
}
.third-img p{
   color: #aaa;
   margin-bottom: 10px;
}
.forth-img p{
    color: #aaa;
    margin-bottom: 10px;
}
.first-img span{
    font-weight: bold;
    font-size: 25px;
    font-family: arial;
}
.second-img span{
    font-weight: bold;
    font-size: 25px;
    font-family: arial;
}
.third-img span{
    font-weight: bold;
    font-size: 25px;
    font-family: arial;
    
}
.forth-img span{
    font-weight: bold;
    font-size: 25px;
    font-family: arial;
}
.another-section{
    background: url(backsec.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
    margin-top: 100px;
    background-color: rgba(255, 192, 203, 0.275);
    object-fit: contain;
    
}
.all-images{
    display: flex;
    gap: 190px;
    justify-content: center;
    margin-top: 130px;

}
.delivery-img img{
    height: 80px;
    margin-left: 30px;
}
.clock-img img{
    height: 80px;
    margin-left: 64px;

}
.chef-img img{
    height: 80px;

}
.open-img img{
    height: 80px;
    margin-left: 37px;

}
.first-word{
    text-align: center;
}
.first-word h1{
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 60px;
    letter-spacing: -4px;
}
.small-ad h3{
    text-align: center;
    font-weight: lighter;
}
.all-images {
    transition: transform 0.3s ease;  
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px); 
    }
    50% {
      transform: translateX(10px); 
    }
    75% {
      transform: translateX(-10px); 
    }
    100% {
      transform: translateX(0); 
    }
}
  
.all-images img:hover {
    animation: shake 0.4s ease-in-out; 
    animation-iteration-count: 5;
}



.first-img, .second-img, 
.third-img,.forth-img{
    position: relative;
    width: 25%;
    z-index: 2;
    overflow-y: hidden;
}

.first-img:first-child, .second-img:first-child, 
.third-img:first-child,.forth-img:first-child{
background-color: #fff;
position: relative;
}
.curves{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
    overflow: hidden;
}

.curve-normal{
    position: absolute;
    background-color: #f5f5f5;
    width: 200%;
    height: 100%;
    top: -60%;
    left: -50%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius:100%;
    transition: all .6s;
}

.curve-crimson{
    position: absolute;
    background-color: #EE2535;
    width: 200%;
    height: 100%;
    top: -100%;
    left: -50%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius:100%;
    transition: all .6s;
}


.first-img:hover .curve-normal{
    top: 0;
    border-radius: 0;
}

.first-img:hover .curve-crimson{
    top:-70%;
}

.second-img:hover .curve-normal{
    top: 0;
    border-radius: 0;
}

.second-img:hover .curve-crimson{
    top:-70%;
}

.third-img:hover .curve-normal{
    top: 0;
    border-radius: 0;
}

.third-img:hover .curve-crimson{
    top:-70%;
}

.forth-img:hover .curve-normal{
    top: 0;
    border-radius: 0;
}

.forth-img:hover .curve-crimson{
    top:-70%;
}
.head-menu h1{
    text-align: center;
    margin-top: 122px;
    font-weight: bold;
    font-size: 50px;
}
.list-list{
    display: flex;
    gap: 50px;
    margin-left: 100px;
    margin-top: 100px;

}
.alloption img{
    width: 24px;
  height: 24px; 
  box-sizing: border-box;
  outline: none;
}
.cock-tail img{
    width: 24px;
    height: 24px; 
    box-sizing: border-box;
    outline: none;
}
.slice img{
    width: 24px;
    height: 24px; 
    box-sizing: border-box;
    outline: none;
}
.salad-bowl img{
    width: 24px;
    height: 24px; 
    box-sizing: border-box;
    outline: none;
}
.cupcake img{
    width: 24px;
    height: 24px; 
    box-sizing: border-box;
    outline: none;
}
.spicy img{
    width: 24px;
    height: 24px; 
    box-sizing: border-box;
    outline: none;
}
.flat-bur img{
    width: 24px;
  height: 24px; 
  box-sizing: border-box;
  outline: none;
}
.alloption h4{
    float: right;
    font-weight: bold;
    font-family: arial;
    font-size: 15px;
    padding-left: 8px;
}
.linked{
    text-decoration: none;
    border: 1px solid rgb(255, 123, 0);
    text-align: center; 
    float: right;
    padding-top: 10px;
    height: 20px;
    width: 120px;   
    color: rgb(255, 123, 0);
    margin-right: 30px;
    margin-top: -30px;
}
.cock-tail h4{
    float: right;
    font-weight: bold;
    font-family: arial;
    font-size: 15px;
    padding-left: 8px;
}
.slice h4{
    float: right;
    font-weight: bold;
    font-family: arial;
    font-size: 15px;
    padding-left: 8px;
}
.salad-bowl h4{
    float: right;
    font-weight: bold;
    font-family: arial;
    font-size: 15px;
    padding-left: 8px;
}
.cupcake h4{
    float: right;
    font-weight: bold;
    font-family: arial;
    font-size: 15px;
    padding-left: 8px;
}
.spicy h4{
    float: right;
    font-weight: bold;
    font-family: arial;
    font-size: 15px;
    padding-left: 8px;
}
.flat-bur h4{
    float: right;
    font-weight: bold;
    font-family: arial;
    font-size: 15px;
    padding-left: 8px;
}
.burger-img{
    background-color: #ffff;
    height: 400px;
    width: 340px;
    margin-left: 80px;
    border-radius: 20px;
}
.first-burg img{
     object-fit: contain;
     position: absolute;
     width: 340px;
}

.second-burg{
    background-color: #ffff;
    height: 400px;
    width: 340px;
    margin-left: 80px;
    border-radius: 20px;

}
.second-burg img{
     object-fit: contain;
     position: absolute;
     width: 340px;
}
.third-burg{
    background-color: #ffff;
    height: 400px;
    width: 340px;
    margin-left: 80px;
    border-radius: 20px;
}
.third-burg img{
     object-fit: contain;
     position: absolute;
     width: 340px;
}
.list-pics{
    margin-top: 50px;
}
.redeem select{
    background-color: rgb(233, 229, 229);
}
.pictures img{
    width: 60px;
    background-color: #ff001535;
    padding: 5px;
    border-radius: 10px;
}
.pictures img:hover{
    background-color: red;
    transition: 1s;
}

.pictures{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 15px;
}
.forth-burg{
    background-color: #ffff;
    height: 400px;
    width: 340px;
    margin-left: 80px;
    border-radius: 20px;

}
.forth-burg img{
     object-fit: contain;
     position: absolute;
     width: 340px;
}
.fifth-burg{
    background-color: #ffff;
    height: 400px;
    width: 340px;
    margin-left: 80px;
    border-radius: 20px;

}
.fifth-burg img{
     object-fit: contain;
     position: absolute;
     width: 340px;
}
.last-burg{
    background-color: #ffff;
    height: 400px;
    width: 340px;
    margin-left: 80px;
    border-radius: 20px;

}
.last-burg img{
     object-fit: contain;
     position: absolute;
     width: 340px;
}
.first-burg h2{
    padding-top: 250px;
    text-align: center;
    font-family: arial;
    

}
.first-burg:hover,.second-burg:hover,.third-burg:hover,.forth-burg:hover,.fifth-burg:hover,.last-burg:hover{
    transform: scale(1.1);
    transition: .5s;
    overflow: hidden;
}
.second-burg h2{
    padding-top: 250px;
    text-align: center;
    font-family: arial;
}
.third-burg h2{
    padding-top: 250px;
    text-align: center;
}
.forth-burg h2{
    padding-top: 250px;
    text-align: center;
    font-family: arial;
}
.fifth-burg h2{
    padding-top: 250px;
    text-align: center;
    font-family: arial;
}
.last-burg h2{
    padding-top: 250px;
    text-align: center;
    font-family: arial;
}

.first-burg p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey;
}
.second-burg p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey;
}
.third-burg p,.forth-burg p,.fifth-burg p,.last-burg p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey;
}
.first-burg span,.second-burg span,.third-burg span,.forth-burg span,.fifth-burg span,.last-burg span{
    color: red;
    font-family: arial;
    font-size: 25px;
    font-weight: bold;
}
.contact{
    float: right;
}
.anada-section{
    background: rgba(0, 0, 0, 0.827);
    background-image: url(pretsle.jpg);
    height: 600px;
    width: 87%;
    margin-left: 73px;
    margin-top: 130px;
    border-radius: 10px;
}
.box-section{
    margin: 60px;
}
.contact{
    background-color: #EE2535;
    height: 370px;
    margin-top: -100px;
    width: 35%;
    border-radius: 10px;
}
.contact h4{
    color: #fff;
    font-family:sans-serif;
    font-weight: lighter;
   
}
.contact h3{
    font-size: 24px;
    color: #fff;
    font-family: arial;
    padding-bottom: 10px;
}
.all-info{
    margin-left: 40px;
    margin-top: 20px;
}
.contact p{
    color: rgb(221, 211, 211);
    font-size: 18px;
}
.book-table{
    padding-top: 70px;
}
.book-table h1{
    color: #ffff;
    font-family: arial;

}
.book-table p{
    color: rgba(245, 245, 245, 0.623);
    padding-bottom: 50px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.formak form{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.formak input{
    border: none;
    background: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    width: 300px;
    color: white;
    font-family: arial;
    font-size: 20px;
    border-bottom: 1px solid #fff;
}
.formak select{
    border: none;
    background: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    width: 300px;
    color: #616161;
    font-family: arial;
    font-size: 20px;
    border-bottom: 1px solid #fff;
}
.formak button{
    height: 65px;
    width: 170px;
    color: #ffff;
    text-decoration: none;
    background-color: #EE2535;
    padding: 21px;
    border-radius: 10px;    
    border: none;
    font-family: sans-serif;
    font-size: 18px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.8s ease;
    position: relative;
}


::placeholder{
    color: white;
}
.subscribe{
    float: right;
    margin-right: 15%;
    margin-top: -7%;
}
.hold-all{
    margin-top: 10%;
}
.head-line{
    margin-left: 90px;
}
.head-line img{
    margin-bottom: 30px;
}
.head-line p{
    color: rgb(88, 88, 88);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
hr{
    width: 90%;
    margin-top: 10px;
    height: 1px;
    margin-left: 80px;
    color: rgba(128, 128, 128, 0.238);
    border: none;
    background-color: rgba(128, 128, 128, 0.238);
}
.subscribe h2{
    font-size: 24px;
    font-family:sans-serif;
    margin-bottom: 10px;
}
.ema-btn{
    width: 400px;
    height: 60px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
.subscribe ::placeholder{
    color: black;
    font-size: 17px;
}
.sub-btn{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #EE2535;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
}
.about-us{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 20%;
    list-style: none;
    color: grey;
}
.under{
    margin-left: 80px;
    margin-top: 90px;
}
.under h1{
    font-weight: bold;
    font-family: sans-serif;
}
.under-second{
    float: right;
}
.crafted{
    float: right;
    margin-right: 50px;
}
.last-foot{
    margin-top: 20px;
    margin-left: 80px;
}
.crafted img{
    margin-top: -25px;
}
.under-second{
    margin-top: -85px;
}
.about{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    margin-top: 10px;
}
.under-second{
    margin-right: 200px;
}
.list-list a:hover{
     color: #EE2535;
     width: 50px;
}
.list-list {
    display: flex;
    gap: 20px; 
}

@keyframes moveAndFade {
    0% {
        transform: translateY(0); 
        opacity: 1;
    }
    30% {
        transform: translateY(20px); 
        opacity: 1; 
    }
    50% {
        transform: translateY(40px); 
        opacity: 0; 
    }
    60% {
        transform: translateY(40px); 
        opacity: 0; 
    }
    80% {
        transform: translateY(-20px); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0); 
        opacity: 1; 
    }
}

.list-list .alloption:hover img,
.list-list .cock-tail:hover img,
.list-list .slice:hover img,
.list-list .salad-bowl:hover img,
.list-list .cupcake:hover img,
.list-list .spicy:hover img,
.list-list .flat-bur:hover img {
    animation: moveAndFade .9s ease-in-out;
}
.ema-number select{
    background-color: transparent;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.book-link{
    margin-top: 50px;
}

.formak{
    display: flex;
    flex-direction: row;
}
.hold-all{
    margin-bottom: 50px;
}
.under{
    margin-bottom: 40px;
}
.setting{
    position: fixed;
    top: 40%; 
    left: 0; 
    transform: translateY(-50%); 
    background-color: red; 
    padding: 10px; 
    border-radius: 4px; 
    z-index: 9999; 
    box-shadow: #6161615f 2px 2px 2px 2px;
}
.setting img{
    width: 25px; 
    height: 25px; 
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.first-burg h4{
    background-color: #f9fe10;
    position: relative;
    top: 26px;
    z-index: 2;
    width: 30%;
    left: 80px;
    padding: 5px;
    border-bottom-right-radius: 15px;
    font-family: sans-serif;
    font-style: italic;
}
.second-burg h4{
    background-color: #f9fe10;
    position: relative;
    top: 26px;
    z-index: 2;
    width: 30%;
    left: 0px;
    padding: 5px;
    border-bottom-right-radius: 15px;
}
.third-burg h4{
    background-color: #f9fe10;
    position: relative;
    top: 26px;
    z-index: 2;
    width: 30%;
    left: 0px;
    padding: 5px;
    border-bottom-right-radius: 15px;
}
.forth-burg h4{
    background-color: #f9fe10;
    position: relative;
    top: 26px;
    z-index: 2;
    width: 30%;
    left: 0px;
    padding: 5px;
    border-bottom-right-radius: 15px;
}
.fifth-burg h4{
    background-color: #f9fe10;
    position: relative;
    top: 26px;
    z-index: 2;
    width: 30%;
    left: 0px;
    padding: 5px;
    border-bottom-right-radius: 15px;
}
.last-burg h4{
    background-color: #f9fe10;
    position: relative;
    top: 26px;
    z-index: 2;
    width: 30%;
    left: 0px;
    padding: 5px;
    border-bottom-right-radius: 15px;
}
.second-burg, .third-burg, .forth-burg, .fifth-burg, .last-burg{
    position: relative;
}
.second-burg h4, .third-burg h4, .forth-burg h4, .fifth-burg h4, .last-burg h4 {
    position: absolute;
    top: 0;
    font-family: sans-serif;
    font-style: italic;
}